* {
  margin: 0;
  
}

/* important pour cacher la scrollbar https://fr.w3docs.com/snippets/css/comment-masquer-les-barres-de-defilement-avec-css.html */
*::-webkit-scrollbar{
  display: none; 
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}


.app__stats {
  display: flex;
  justify-content: space-evenly;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;

}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: auto;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .h1 img {
    max-width: 100%;
    height: 350px;
  }
}